/* Define main variables */
:root {
    --black:#1d1d1b;
    --green: #7f9f28;
    --light-green: #d9e09e;
    --orange: #ffac00;
    --light-orange: #ffd78f;
    --light-black: rgba(29, 29, 27, 0.5);
    --light-grey: #f4f4f4;
    --top-space:94px;
    --half-top-space: 47px;
    --double-space: 188px;
    --quarter-space:23.5px;
    --space:17px;
    --two-spaces: 34px;
  }
body{
  margin: 0;
  padding: 0;
}
.background{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: auto;
 
}
.background.bg-green{
background-color: var(--green);
}
.background.bg-orange{
  background-color: var(--orange);
}

.background.bg-grey{
  background-color: var(--light-grey);
}
.background.bg-img{
 background-image: url(assets/bghome.jpg);
background-repeat: no-repeat;
background-size: cover;
opacity: 70%;

}
.bg-rectangle{
  max-width: 75%;
  margin: auto;
  /* background-color: white; */
    background-color: var(--light-grey);
 z-index: 4;
 height: inherit;
 position: relative;
}

.container{
  max-width: 1024px;
  margin: auto;
  padding: 70px 70px 17px;
  color: var(--black);
}

.container-home-bg{
  width: 75%;
  max-width: 786px;
  margin: auto;
  background-color: var(--light-grey);
  color: var(--black);
  z-index: 4;
  height: inherit;
  position: relative;
  padding: 170px 70px 204px;
}

.container-text{
  max-width: 768px;
  margin: auto;
  padding-left: 34px;
}
h1{
  font-family: 'Urbane', 'Poppins',sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 85px;
  /* font-size: 5em; */
  letter-spacing: 1px;
  line-height: 92px;
  /* line-height: 5.4em; */
  text-align: center;
}

h2{
  font-family: 'Urbane', 'Poppins',sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 51px;
  /* font-size: 3em; */
  line-height: 67px;
  /* line-height: 4em; */
}
  h3{
    font-family: 'Urbane', 'Poppins',sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 34px;
    /* font-size: 1.5em; */
    letter-spacing: 0.85px;
    line-height: 42px;
    /* line-height: 2.1em; */
    text-transform: uppercase;
    color: var(--green);
    text-align: center;
}

h4{
    font-family: 'Urbane', 'Poppins',sans-serif; 
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    /* font-size: 1.2em; */
    letter-spacing: 0.25px;
    /* color: var(--black); */
    text-transform: uppercase;
}

h4.menu-title{
 margin: 0;
}

h5, th{
  font-family: 'Urbane', 'Poppins',sans-serif; 
  font-weight: 300;
  font-style: normal;
  font-size: 25.5px;
  /* font-size: 1.5em; */
  line-height: 34px;
  /* line-height: 2em; */
}
p, td, li{
  font-family: 'Urbane', 'Poppins',sans-serif; 
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  /* color: var(--black); */
}



.extra_content p{
  margin: revert;
}
th{
  border-bottom: 8px solid #1d1d1b;
  line-height: 48px;
}
td{
  border-bottom: 4.25px solid #1d1d1b;
  line-height: 48px;
}
h6{
  font-family: 'Urbane', 'Poppins',sans-serif; 
  font-weight: 200;
  font-style: normal;
  font-size: 12.8px;
  line-height: 17px;
}

h6.sm-lineheight{
  margin-top: -21px;
}

a{
  font-weight: 600;
  font-size: inherit;
  color: var(--black);
  line-height: 25px;
  letter-spacing: 0.5px;
  text-decoration: none;
  
}

a.or{
  text-decoration-color: #ffd78f;
}


a.link-button{
  text-decoration: none;
}
a.link-button:hover{
border-radius: 100%;
color: var(--black);
}

a.link-button.or:hover{
  background-color: #ffd78f;
}

a:hover{
  background-color: var(--light-green);
}
a.orange:hover{
  background-color: var(--orange);
}

a.green{
  font-weight: unset;
}
a.green:hover{
  background-color: var(--green);
}
a.orange{
  font-weight: unset;
}
.active-link-con {
  text-decoration: underline;
  text-decoration-color: var(--green);
  text-decoration-thickness: 1.75px;
}

.active-link-com {
  text-decoration: underline;
  text-decoration-color: var(--orange);
  text-decoration-thickness: 1.75px;
}
.text-green{
  color: var(--green);
}

.button-img.button-gr:hover, .button-img.button-img.button-or:hover{
  color: var(--black);
}

.text-green.animated{
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  opacity: 0;
}
.level.active .text-green.animated {
  opacity: 1;
  transform: translateY(0);
}

.bg-lightgreen{
  background-color: var(--light-green);
}
.bg-lightorange{
  background-color: #ffd78f;
}

.underline-green-thin{
  text-decoration: underline;
  text-decoration-color: #d9e09e;
  text-decoration-thickness: 2.125px;
} 
.underline-green{
  text-decoration: underline;
  text-decoration-color: #d9e09e;
  text-decoration-thickness: 4.25px;
}
.underline-green-thick{
  text-decoration: underline;
  text-decoration-color: #d9e09e;
  text-decoration-thickness: 17px;
}

.text-orange{
  color: var(--orange);
}
.underline-orange-thin{
  text-decoration: underline;
  text-decoration-color: #ffd78f;
  text-decoration-thickness: 2.125px;
}


.underline-orange{
  text-decoration: underline;
  text-decoration-color: #ffd78f;
  text-decoration-thickness: 4.25px;
}

.underline-orange-thick{
  text-decoration: underline;
  text-decoration-color: #ffd78f;
  text-decoration-thickness: 17px;
}

.text-left-col{
  padding-left: var(--two-spaces);
  align-self: center;
}

table{
  width: 100%;
  padding-top: var(--half-top-space);
  padding-bottom: var(--half-top-space);
}
.images{
  padding-bottom: var(--double-space);
  padding-top: var(--top-space);
  min-height: 648px;
  max-width: 1024px;
  position: relative;
}

.images img {
  position: absolute;
    left: 0;
    max-width: 868px;
    width: 100%;
    height: auto;
}

.images.img-right{
  max-width: unset;
}


.images.img-right img{
left: unset;
right: 0;
}

.org-rect{
  background-color: var(--orange);
  width: 400px;
  height: 300px;
  position: absolute;
  right: 6%;
  bottom: 12%;
}

.grn-rect{
  background-color: var(--green);
  width: 400px;
  height: 300px;
  position: absolute;
  left: 6%;
  bottom: 12%;
}

.image_left{
width: 100%;    
height: 100%;
/* max-width: 660px; */
/* margin-left: -20%;
filter: drop-shadow(0 0 0.1rem var(--light-grey)); */
}


.buttons{
  /* background-image: url(assets/q_circle3.png);
  width: 476px;
  height: 229px; 
  background-repeat: no-repeat;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  padding-bottom: var(--top-space) ;
}

.circle-question{
position: absolute;
/* max-width: 476px;
max-height: 229px; */
}

.button-img{
  width: 170px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
.button-img.button-gr{
  background-image: url(assets/btn-gr.png);
  color: var(--green);
}

.button-img.button-or{
background-image: url(assets/btn-or.png);
color: var(--orange);
}

/* menu */
.menu-header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.menu-consumer{
  background-color: var(--light-green);
  display: flex;
  align-items: center;
  height: 51px;
}

.menu-company{
  background-color: var(--light-orange);
  display: flex;
  align-items: center;
  height: 51px;
}

.menu-click {
  display: inline-flex;
  /* height: 36px; */
  /* width: 270px; */
}
.menu-dropdown{
  display: none;
  z-index: 30;
  width: 100%;
  position: fixed;
  top: 0;
  padding-right: var(--space);
  opacity: 0; /* Initially hidden */
  transform: translateY(-20px); /* Initially off-screen */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Animation properties */
}

.menu-dropdown.show {
  display: block;
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* In position */
}


.menu-dropdown.for-consumer{
  background-color: var(--light-green);
  color: var(--green);
}

.menu-dropdown.for-company{
  background-color: var(--light-orange);
  color: var(--black);
}

.text-dropdown{
  padding-left: 35px;
  /* margin: auto;
  width: max-content; */
  padding-bottom: var(--two-spaces);
}

.img-dropdown{
  display: flex;
  align-items: center;
  /* height: 51px; */
}
.toggle-arrow-m, .toggle-arrow-up-m, #close-menu {
  cursor: pointer; /* Change cursor to pointer to indicate clickable element */
  align-self: center;
  color: var(--black);
}

.ribbon {
  max-width: 145px;
  display: flex;
  max-height: 30px;
  align-items: center;
  margin-left: -35px;
}


/* logos & imgs */
img.main-logo{
  max-width: 100%;
  margin: auto;
  padding: 17px;
}
img.logo-project{
  width: 94px;
  padding-left: 4.25px;
  padding-right: 4.25px;
 
}

img.lg-img{
  display: inline-block;
}
img.md-img{
  display: none;
}




/* interactive tool */
  .container_questions{
/* margin: auto;
    padding-top: var(--top-space);
    padding-bottom: var(--top-space);
    width: 80%; */
     height: 900px;
    position: relative;
  }
  
.question{
    max-width: 300px;
    margin: auto;
    display: inline-table;
}
.answer-box{
  display: flex;
    flex-wrap: wrap;
    padding-top: var(--quarter-space);
    margin: auto;
}

.answer-box.simple-text{
  max-width: 510px;
  justify-content: normal;
}

.answer-box.inline-text{
  justify-content: space-around;
  align-items: center;
}

.answer-box-2{
  display: block;
  overflow-y: auto;
  max-height: 100vh;
}
p.link-item{
  padding-right: 17px;
}
.answer{
    display: inline-block;
    max-width: 240px;
    /* padding-top: var(--half-top-space); */
    cursor: pointer;
    /* padding-bottom: 10px; */
    /* background-color: #f0f0f0; */
    border-radius: 5px;
    padding-right: 17px;
    padding-left: 17px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.answer.full-line {
  display: block;
  max-width: 100%;
}
.answer.full-line:hover{
  background-color: transparent;
}



  /* border-radius: 50%;
  width: fit-content;
  height: 150px; */
  
 
  .answer:hover {
    background-color: var(--light-green);
    animation: pulse 1s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
    }
    50% {
      transform: scale(1.05);
      box-shadow: 0 0 15px rgba(0, 255, 0, 0.9);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
    }
  }

  .answer-more {
    display: none;
    padding-left: 17px;
}

.toggle-arrow, .toggle-arrow-up {
    cursor: pointer;
    margin-left: 10px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.level {
    position: absolute;
    top: var(--top-space);
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;  /* Prevent clicking on hidden levels */
    height: fit-content;
  }
  
  .level.active {
    opacity: 1;
    pointer-events: auto;  /* Allow clicking on active levels */
  }

  .navigation {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .navigation button {
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navigation button:hover {
    background-color: #ddd;
  }


  /* footer */
  .footer{
    background-color: var(--black);
    color: var(--light-grey);
    position: relative;
    z-index: 6;
    color: var(--light-grey);
    padding-bottom: var(--space);
    margin-bottom: -17px;
 
  }

  .footer-top{
    border-bottom: 4.25px solid #f4f4f4;
    display: inline-flex;
    justify-content: space-between;
    padding: 8.5px var(--two-spaces);
width: -webkit-fill-available;
  }
  .footer-bottom{
    display: inline-flex;
    padding: 8.5px var(--two-spaces) 8.5px 0;
    justify-content: space-between;
    width: -webkit-fill-available;
  }
img.logo-footer-lg{
  max-width: 150px;
    width: 100%;
}
img.logo-footer-sm{
  display: none;
}
.footer-text{
  max-width: 45%;
  align-self: center;
}

.footer-text.top-left{
  width: 29%;
}
.eu-credits{
  align-self: flex-end;
}
.credits{
  text-align: right;
  align-self: center;
}
a.credit{
  color: var(--light-grey);
  font-family: 'Urbane', 'Poppins',sans-serif; 
  font-weight: 200;
  font-style: normal;
  font-size: 12.8px;
  display: block;
text-decoration: none;
}

a.credit-header{
  color: var(--light-grey);
  font-family: 'Urbane', 'Poppins',sans-serif; 
  font-weight: 600;
  font-style: normal;
  font-size: 19px;
  text-decoration: none;
  text-transform: uppercase;
  align-self: center;
}

a.credit:hover, a.credit-header:hover{
  color: var(--black);
}
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
  }
 
  .inbetween-space{
    height: var(--space);
  }

  img.sm-logo{
    max-width: 28px;
  }
 

  img.md-logo{
    max-width: 64px;
    padding-right: 8.5px;
  }


  /* layout */
  .content{
    padding-top: var(--top-space);
  }
  .extra_content{
    position: relative;
    padding-bottom: var(--top-space);
    padding-top: var(--top-space);
    min-height: 700px; /* Set the minimum height */
    /* max-height: calc(100vh - 700px);  Calculate max height relative to viewport height */
    /* overflow-y: auto; */
    width: 80%;
    margin: auto;
  }

  .extra_content.home_content{
    min-height: auto;
    padding-top: 0;
  }
  .col2{
    display: inline-flex;
  }

  .grid-layout{
    width: 100%;
    justify-content: space-around;
    padding: var(--two-spaces) var(--space) 0 0;
    flex-wrap: wrap;
  }

  .align-center{
    align-self: center;
  }
  .no-margin-bottom{
    margin-bottom: 0;
  }
a.credit.inline-text{
  display: inline-block;
}
  .pad-top-spc{
    padding-top: var(--top-space);
  }

  .pad-spc{
    padding-top: var(--two-spaces);
  }
  .display-lg{
    display: inline-block;
  }

  .display-sm{
    display: none;
  }
  .flex-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: var(--space);
  }
  .video-content{
    padding: var(--space);
    max-width: 100%;
    margin: auto;
  }
  iframe {
    border: none;
}
.video-frame{
  width: 400px;
  height: 225px;
}

  /* circular textiles */
  /* circular textiles */
.bg-rectangle-white {
  max-width: 75%;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative; /* Make this container the reference for absolute positioning */
  padding-bottom: 136px;
}

.relative-container {
  position: relative; /* This container is relatively positioned */
  width: 100%; /* Ensure it takes the full width of the parent */
}

h1.inter-title {
  font-family: 'Inter', sans-serif;
  color: #000;
  font-weight: 700;
  letter-spacing: -3%;
  text-transform: uppercase;
  text-align: center;
}

p.body-besley {
  font-family: 'Besley', serif;
  color: #000;
  font-size: 17px;
  max-width: 345px;

}

p.body-inter {
  font-family: 'Inter', sans-serif;
  color: #000;
  font-weight: 400;
  letter-spacing: -3%;
  max-width: 345px;

}

.body-text {
  
  width: 75%;
  padding-left: 34px;
  padding-right: 17px;
  /* justify-content: center;
  display: inline-flex;
  flex-wrap: wrap; */

}

.body-text.pos-left{
  order: 2;
}

.row {
  display: flex;
  width: 100%;
  height: auto;
  padding-bottom: 40%;
  /* flex-wrap: wrap; */
}

.img-container {
  position: relative;
  width: 100%;
}

.rect {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.rect.rig {
  left: 0%;
  top: 65%;
  height: 157px;
}

.rect.lef {
  right: 0%;
  top: 65%;
  height: 157px;
}

.img-container img {
  display: block;
  width: 100%;
  height: auto;
}

.img-container img.img-pos-right {
  position: absolute;
  right: 0;

}
.img-lg{
  max-width: 720px;
}  

.img-md {
  max-width: 570px;
}  
.img-container img.img-pos-left {
  position: absolute;
  left: 0;
  /* max-width: 50%; */
}

img.logo-half{
  width: 30%;
  max-width: 345px;
}

a.circular-link{
  text-transform: uppercase;
  font-weight: 700;

}

/* Media Queries */

@media (min-width: 1550px){
  .images.img-right {
    margin-left:20%;
}
.ribbon{
  margin-left: 0;
}
.text-dropdown{
  padding-left: 70px;
}
}
@media (max-width: 1440.9px) {
  /* .container {
    max-width: 50%;
  } */
  .extra_content {
    width: 100%;
  }
  .org-rect{
    right: 6%;
    bottom: 12%;
  }

  .grn-rect{
    left: 6%;
    bottom: 12%;
  }
}

@media (max-width: 1335.9px) {
  .ribbon {
    max-width: 68px;
  }
  img.md-img {
    display: inline-block;
    margin-left: -34px;
  }
  img.lg-img {
    display: none;
  }

.menu-header{
  z-index: 10;
}
.images img{
  width: 75%;
} 
.org-rect, .grn-rect{
  bottom: 24%;
}

}

@media (max-width: 1079.9px){

  .org-rect, .grn-rect{
    bottom: 32%;
  }
  a.credit-header.lineh {
    line-height: 21px;
}

}

@media (max-width: 990.9px){

  /* circular */
  .bg-rectangle-white{
    max-width: 90%;}

  .row{
    flex-wrap:wrap ;
    height: 100%;
  }
  .body-text{
    max-width: 100%;
    padding-left: 5%;
  }
  .rect.rig {
    left: 5%;}

    .img-container img.img-pos-right {
      left: 5%;
      width: 95%;
  }

  .rect{
    width: 100%;
  }

.logo-half{
  max-width: 75%;
}
.body-text.pos-left {
  order: unset;
}
  .container, .container-home-bg{
    padding: 105px 52px 140px;
  }
} 

@media (max-width: 767.9px) {
  :root {
    --top-space: 94px;
  }
  h1{
    font-size: 3.5em;
  }
  p {
    font-size: 14px;
  }
  h2{
    font-size: 3em;
  }
 
  .container {
    max-width: 85%;
    padding: 34px 17px;
}

h4.menu-title {
  margin-top: 17px;
}
.images{
  min-height: 450px;
}
.images img{
  width: 100%;
}

.org-rect{
  padding-top: 75%; 
  bottom: unset;
  right: unset;
  left: 100%;
  top: 10%;
  height: auto;
  width: 20%;
}

.grn-rect{
  padding-top: 75%; 
  bottom: unset;
  left: unset;
  right: 100%;
  top: 10%;
  height: auto;
  width: 20%;
}
  .answer {
    display: block;
    max-width: 75%;
  }

  a.credit-header{
    line-height: 34px;
  }
  .footer-top, .footer-bottom{
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
.footer-bottom{
  padding: 8.5px var(--two-spaces);
}
  .footer-text, .footer-text.top-left{
    width: 100%;
    max-width: 75%;
  }
  img.logo-footer-lg, .display-lg {
 display: none;
    }

    img.logo-footer-sm, .display-sm{
      display: block;
        margin: auto;
        max-width: 350px;
        width: 100%;
    }
    .no-margin-bottom {
      margin-bottom: -17px;
  }
  .eu-credits {
    align-self: center;
}
  .credits{
    text-align: center;
  }
}

@media (max-width: 575.9px) {

  h2{
    font-size: 2.5em;
  }

  .bg-rectangle{
    max-width: 90%;
  }
  .container-home-bg {
    padding: 105px 34px 140px;
}
  .menu-dropdown{
    width: 100%;
  }

 
  .container_questions{
    height: 900px;
  }

  .org-rect, .grn-rect{
  width: 5.5%;
}
  .answer {
    max-width: 100%;
  }
  .answer-box{
    display: block;
  }

  .button-img {
    width: 150px;
    height: 150px;
  }
  .footer-text, .footer-text.top-left{
    width: 100%;
    max-width: 100%;
  }
  img.logo-footer-sm{
    max-width: 70%;
  }
  .no-margin-bottom {
    margin-bottom: 0;
}
.footer-bottom .col2{
  display: block;
}
.footer-bottom .left{
  float: none;
}
.footer-bottom .right{
  float: none;
}
img.md-logo{
  padding-top: 8.5px;
  padding-right: 0;
  margin-bottom: -17px;
}

.video-content{
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}
.video-frame{
  width: 100%;
  height: 100%;
  margin-bottom: -17px;
}
/* circular */
.logo-half{
  max-width: 100%;
}
}

@media (max-width: 449.9px) {

  h1{
    font-size: 2.6em
  }
  .container-home-bg {
    padding: 64px 17px 140px;
}
  .container, .container-home-bg{
    max-width: 100%;
  }
  .grid-layout{
    width: auto;
  }
  .col2.grid-layout {
    display: block;
}
  .button-img{
    padding-bottom: 34px;
  }
  .images{
    min-height: 250px;
  }
  .org-rect, .grn-rect{
    top:18%;
  }
}